node_modules/
public/
.DS_Store
.env
data/Global*.csv
data/*.kml
data/*.kmz
data/airports.json
data/fir-reg-orig.geojson
localhost-cert.pem
localhost-key.pem
.vscode/settings.json
data/eWAS-*.csv
data/iata2country.json
